<h2>Outbox</h2>


<%= link_to 'Inbox', messages_path %>
<div class="messages">
<% @pages.each do |m| %>
    <div id="one_mess">
      <p id="subject"> <%= m.subject %> </p>
      <p id="user"> <%= m.recipient_id %> <p>
      <p><%= link_to 'show', message_path(m) %></p>
      <p><%= link_to 'delete', message_path(m), :method => :delete, data: {confirm: "Are you sure?"} %></p>   
    </div>
<%end%>
  <%= will_paginate @pages %>
</div>
