
<h2 id="message-subject"><%= @message.subject %></h2>

<div class="message-wrapper">
  <p>From: <%= @message.sender_username %><p>
  <p><%= @message.body %></p>
  <p><%= @message.created_at %></p>
</div>

<%= link_to 'Delete', message_path(@message), :method => :delete, data: {confirm: "Are you sure?"}%>
<%= link_to 'Inbox', messages_path %>
<%= link_to 'Reply', message_path, id: "reply-button" %>

<%= form_for :message, :method => :post, html: { id: "reply-form" } do |m| %>
  Recipient's name: <%= m.text_field :recipient_username %><br />
  <%= m.text_area(:body, cols: 50, rows: 20, placeholder: 'Write your reply here...', name: 'reply-textarea') %><br />
  <%= m.submit %>
<% end %>
