<h2>Show</h2>

<div class="message-wrapper">
  <%= @message.subject %>
  <%= @message.body %>
  <%= @message.sender_username %>
  <%= @message.created_at %>
</div>

<%= link_to 'Delete', message_path(@message), :method => :delete, data: {confirm: "Are you sure?"}%>
<%= link_to 'Inbox', messages_path %>