<h2>Show</h2>

<div class="message-wrapper">
  <%= @message.subject %>
  <%= @message.body %>
  <%= @message.sender_username %>
  <%= @message.created_at %>
</div>

<%= link_to 'Delete', messages_path(@message)%>