
<h2 id="message-subject"><%= @message.subject %></h2>

<div class="message-wrapper">
  <p>From: <%= @message.sender_username %><p>
  <p><%= @message.body %></p>
  <p><%= @message.created_at %></p>
</div>

<%= link_to 'Delete', message_path(@message), :method => :delete, data: {confirm: "Are you sure?"}%>
<%= link_to 'Inbox', messages_path %>