<div class="profile-page">

<h3><%= @user.first_name %> <%= @user.last_name %></h3>

<img src="http://thefuntimesguide.com/images/blogs/Ms_Green_MMs_on_Couch.jpg"/>

<ul>
  <li><%= @user.username %></li>
  <li><%= @user.age %></li>
  <li><%= @user.gender %></li>
</ul>

<p><%= @user.about %></p>

</div>