<div class="profile-page">

<h3><%= @user.first_name %> <%= @user.last_name %></h3>

<img class="profile-pic" src="http://thefuntimesguide.com/images/blogs/Ms_Green_MMs_on_Couch.jpg"/>

<ul>
  <li>Username: <%= @user.username %></li>
  <li>Age: <%= @user.age %></li>
  <li>Gender: <%= @user.gender %></li>
</ul>

<p><%= @user.about %></p>

<% if @user.id == current_user.id %>
  <%= link_to "Edit Profile", edit_user_path(@user), class: "edit-user"  %>
<% end %>
</div>