<div class="profile-page">
<h3><%= @user.first_name %> <%= @user.last_name %></h3>

<%= image_tag(@user.avatar.url , class: "avatar") if @user.avatar? %>

<ul>
  <li>Username: <%= @user.username %></li>
  <li>Age: <%= @user.age %></li>
  <li>Gender: <%= @user.type %></li>
  <li>Height: <%= @user.height %> cm</li>
  <%# if @user.imperial_height != nil %>
    <li>Imperial Height: <%= @user.imperial_height %> ft</li>
  <%# end %>
  <li>Preference: <%= @user.preference %> </li>
</ul>

<p><%= @user.about %></p>

<% if @user.id == current_user.id %>
  <%= link_to "Edit Profile", edit_user_path(@user), class: "edit-user"  %>
<% end %>
</div>
